<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签脚本测试</title>
    <link rel="stylesheet" href="/ams/element-ui@2.11.1.css"/>
    <script src="/ams/polyfill-7.4.0.min.js"></script>
    <script src="/ams/vue@2.6.10.js"></script>
    <script src="/ams/element-ui@2.11.1.js"></script>
    <script src="/ams/ams@0.24.0.js"></script>
    <script src="/ams/ams-field-arraylist@1.2.2.js"></script>
    <script src="userTagScriptTest.js"></script>
    <style>
        body {
            margin: 15px 10px 10px 10px;
        }
        .ams-field-arraylist-edit td .el-button--primary {
            display: none !important;
        }
    </style>
</head>
<body>
<script>
    ams.render('userTagScriptTest');
</script>
</body>
</html>
